h1 {
    color:#c44536;
    text-shadow: 3px 1px 2px #772e25;
}

h2 {
    color: #197278;
    text-shadow: 2px 1px 2px #283d3b;
}

html {
    font-family: 'Arvo', serif;
    text-align: center;
    background-color: white;
}

p {
    color:#772e25;
}

body {
    border: 5px solid #772e25;
    margin: 20px 250px;
    background-color:#edddd4;

}