#perfil{
    display: block;
    margin: 0 auto;
    width: 120%;
    margin-left: 40%;

}

.botoes {
    background-color: #47167D;
    border-color: #47167D;
}

body {
    background-color:#EFEFEFff;
    font-family: 'Arvo', serif;
    font-family: 'Josefin Sans', sans-serif;
    border-color: 14px solid black;
    margin: 50px;

}

h1 {
    font-size: 330%;
    letter-spacing: 2px;
    color: white;
}

h2{
    font-size: 125%;
    letter-spacing: 7px;
    color: #47167D;
}

h3{
    font-size: 85%;
    color: #765996;
}

h4 {
    font-size: 76%;
    color: #765996;
}

li {
    color: #765996;
    font-size: 87%;
}

hr {
    margin: 15px;
  }

#imglaranja{
    width: 35%;
    margin-left: 70%;
    margin-top: -18%;
}

#imgrosa{
    width: 110%;
    margin-top: -238%;
}